%section#banner
  .wrapper
    %header
      %p#logo
        Agency Page
      %nav
        %a{ href:'#', title: 'Home' } Home
        %a{ href:'#', title: 'Portfolio' } Portfolio
        %a{ href:'#', title: 'Services' } Services
        %a{ href:'#', class: 'button button_secondary button_small', title: 'Get in touch' } Get in touch
    .content
      %h1.title We create products
      %h2.sub_title Lorem ipsum dorem
      .button_wrapper
        %a{ href: '#', class: 'button button_highlight', title: 'Learn more' } Learn More
        %a{ href: '#', class: 'button button_secondary', title: 'Play video' } Play Video

